@import '../scss/colors.scss';
@import '../scss/variables.scss';

.left {

    min-height: 500px;
    background-color: $brownOpacitied;
    @media (max-width: 1023.9px) { order: 2; min-height: 300px; }
}

.right {

    .img {
        right: 0;
        top: 0;

        @media (min-width: 1024px) { 
            right: 5rem;
            top: 2.5rem;
        }
    }

    @media (max-width: 1023.9px) { order: 1; }

}