// white-btn
.white-btn {

    background-color: $white;
    color: $brown;
    transition: all .3s;
    padding: 1rem 2rem;
    font-size: 13px;
    letter-spacing: 2px;
    position: relative;
    border: 1px solid $brown;

    span {
        position: relative;
        z-index: 10;
    }

    &::before {
        content: '';
        width: 0;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $brown;
        transition: width .3s;
        position: absolute;
        z-index: 1;
        
    }

    &:is(:active,:hover) {

        color: $white !important;
        transform: scale(.9);
        -webkit-transform: scale(.9);

        &::before {
            width: 100%;
        }

    }
}

// white-iconic-btn
.white-iconic-btn {

    color: $white;
    opacity: 1;
    transition: opacity .3s;

    &:is(:hover, :active) {
        opacity: .5;
    }

}

// white-link
.white-link {
    color: $white;
    transition: all;
}